.speech{font-family: 'Times New Roman', Times, serif; font-size: 12px;color: black;}
.scene{font-family: Arial, Helvetica, sans-serif; font-size: 12px;color:rgb(0, 15, 10);}

.name{
    font-family:"Lucida Console", "Courier New", monospace; 
    font-size:15px;
    color: rgb(27, 25, 25);
}

.name:hover{
    border: solid 2px rgb(152, 29, 91);
    text-shadow: 3px 3px 3px rgb(140, 131, 33);
}

.direction{background-color: beige;font-family: Tahoma, Verdana, sans-serif; font-size: 10px;color: black;}
.direction:hover{
    background-color: aqua;
    color:rgb(230, 64, 64)
}

.CHO
{
    color:rgb(0, 255, 94);
}

.PRET{
    color: rgb(212, 83, 135);
}

.Still{
    color:rgb(6, 95, 43);
}

.NICE{
    color: rgb(101, 3, 81);
}
.SPAR{
    color:brown;
}

table,td,th{
    margin: 1px solid rgb(231, 22, 22);
    padding: 2px;
    border: 3px solid rgb(60, 79, 201);
    text-align: center;  
}
td{
    color: rgb(222, 40, 152);
}
th{
    color:rgb(42, 165, 77);
}
tr:nth-child(even){
    background-color: rgb(207, 154, 92);
}
